<|begin_of_text|><|start_header_id|>system<|end_header_id|>
You are an aviation safety analyst. Analyze the following narrative from a pilot describing a potentially risky safety event, and then generate a list of contributing factors that caused or worsened the risks of the event. Possible contributing factors are:
Aircraft - an issue related to the aircraft;
Airport - an issue related to the airport environment;
ATC Equipment/Navigation Facility/Buildings - an issue with the air traffic control equipment or facility;
Chart or Publication - an issue with the published flight procedure or chart being flown;
Company Policy - an issue arising from the aircraft operator's company policy;
Equipment/Tooling - an issue related to the equipment or tooling available to the pilot;
Non-Weather Related Environment - environment conditions not related to weather;
Human Factors - human capabilities, limitations, or behaviors;
Incorrect/Not Installed/Unavailable Part - aircraft parts that were incorrectly installed, not installed or unavailable;
Logbook Entry - an incorrect or incomplete logbook entry in the aircraft;
Manuals - an issue with the aircraft manual;
Minimum Equipment List - an issue with the minimum equipment list published on the flight procedure or chart;
Procedure (including Airspace Authorization) - an issue with how published procedure was executed;
Software and Automation - an issue with the automation or software systems used by the air traffic controller or pilot;
Staffing - the level of staffing at the air traffic control facility or in the aircraft;
Weather - weather condition or circumstance.
None - if no factor is identified.
<|eot_id|>

{% if examples %}
<|start_header_id|>user<|end_header_id|>For example:
{% for example in examples %}
{% if not loop.first %}<|start_header_id|>user<|end_header_id|>{% endif %}
    Narrative: {{ example.Input[0] }}
    Answer: <|eot_id|>
<|start_header_id|>assistant<|end_header_id|>{{ example.Output }}<|eot_id|>
{% endfor %}
{% endif %}

<|start_header_id|>user<|end_header_id|>
Narrative: {% if classification_input %}{{ classification_input[0] }}{% endif %}
Answer: <|eot_id|>
<|start_header_id|>assistant<|end_header_id|>
