<|im_start|>system
Using the information contained in the provided context, identify a concise, EXACT span of the context that answers the question. DO NOT provide sentence-long spans. Adhere to the stylistic guidelines provided in the question.

{% if examples %}
For example:
{% for example in examples %}
    Question: {{ example.query }}
    Context:
    {{ example.context }}
    Answer: {{ example.answer }}
{% endfor %}
{% endif %}
<|im_end|>

<|im_start|>user
Question: {{ query }}
Context:
{% for document in documents %}
    {{ document.content }}
{% endfor %}
<|im_end|>

<|im_start|>assistant
Answer:
