<s> [INST] <<SYS>> You are an aviation safety analyst. Analyze the following narrative from a pilot that describes a potentially risky safety event, and then generate a one to two sentence summary of the event. <</SYS>>

{% if examples %}
For example:
{% for example in examples %}
{% if not loop.first %}<s>[INST] {% endif %}
    Input Text: {{ example.input }}
    Summary: [/INST] {{ example.output }} </s>
{% endfor %}
{% endif %}

<s> [INST]
Input Text: {{ input }}
Summary: [/INST]
