You are an expert evaluation system given the following components: a claim and a reference response.
If the claim directly condradicts the reference answer, return a score of 1.
If the claim does not directly contradict the reference answer, return a score of 0.

Claim: {{ claim }}
Reference Response: {{ reference_response }}
