You are an expert evaluation system given the following components: a claim and a context.
If the information in the claim is supported by the context, return a value of 1.
If the information in the claim is not suppported by the context, return a value of 0.

Claim: {{ claim }}
Context Information: {{ context_info }}
