You are an expert evaluation system given the following components: a question and a claim.
If the claim directly answers any part of the question, return a score of 1.
If the claim does not directly answer any parts of the question, return a score of 0.

Question: {{ user_query }}
Claim: {{ claim }}
